https://www.w3resource.com/pandas/dataframe/pandas-dataframe-apply.html

https://github.com/WillKoehrsen/Data-Analysis/blob/master/widgets/Widgets-Overview.ipynb

INPUT + DESIRED OUTPUT TABLE

# Simple Widgets
Let's get started using some widgets! We'll start off pretty simple just to see how the interface works.

In [1]:
# enable loading data from .csv files as a table
import pandas as pd

# enable Creatio of (data) arrays
import numpy as np

# Show all code cells outputs
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

import ipywidgets as widgets
from ipywidgets import interact, interact_manual

In [2]:
df = pd.read_csv('AND-DATA.csv')
df.head()

  X1;X2;Teacher
0         0;0;0
1         0;1;0
2         1;0;0
3         1;1;1

In [3]:
print(df)

  X1;X2;Teacher
0         0;0;0
1         0;1;0
2         1;0;0
3         1;1;1

In [4]:
widgets.Valid(
    value=False,
    description='Valid!',
)

Valid(value=False, description='Valid!')

In [5]:
widgets.Dropdown(
    options=['0', '1'],
    value='0',
    description='Number:',
    disabled=False,
)

Dropdown(description='Number:', options=('0', '1'), value='0')

In [36]:
widgets.IntSlider(
    value=7,
    min=0,
    max=10,
    step=1,
    description='Test:',
    disabled=False,
    continuous_update=False,
    orientation='horizontal',
    readout=True,
    readout_format='d'
)

IntSlider(value=7, continuous_update=False, description='Test:', max=10)

In [6]:
# needed packages
import pandas as pd
import numpy as np
from ipywidgets import widgets

In [7]:
import ipywidgets as widgets
from ipywidgets import interact
n = 10
seed = np.zeros(n)
sliders = list(widgets.FloatSlider(
              description = 'seed[{}]'.format(i),
              min = -1.0, 
              max = 1.0, 
              step = 0.01, 
              value = seed[i]) 
          for i in range(n))

In [8]:
df = pd.DataFrame(data*np.array([[1,2,3]]))

NameError: name 'data' is not defined

In [21]:
    df = pd.DataFrame([[0, 0, 0], [0, 1, 0],[1, 0, 0],[1, 1, 1]], columns=['x1', 'x2','teacher'])
    df

   x1  x2  teacher
0   0   0        0
1   0   1        0
2   1   0        0
3   1   1        1